num_hidden:32;
epochs:10;
batch_size:64;
momentum:0.9 ;
learning_rate:0.0001;
gibbs_sampling_steps:15;
persistent_gibbs_chain:true;
sample_visibles:true;
sample_hiddens:true;
synchronization_period:256;
output_filename_base:"output";
train_data_filename:"/home/user/mnist/train-images.idx3-ubyte"
use_sparsity_target:false;
sparsity_target:0.5;
sparsity_decay:0.99;
sparsity_learning_rate:0.1;
diag_error:false;
diag_weight_update_hist:true;
diag_hidden_activation_probability:true;
diag_visible_recon_err:true;
diag_epoch_weight_output:true;
diag_train_val_energy_diff:false;
convolution_stride:5;
convolution_patch_dim:9;
convolution_padding:0;
